
	<section class="m-catalog">
		<div class="container m-catalog__container">
			<div role="tabpanel">
				<ul class="m-catalog__tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#tea" aria-controls="home" role="tab" data-toggle="tab">Чай</a>
					</li>
					<li role="presentation">
						<a href="#coffee" aria-controls="tab" role="tab" data-toggle="tab">Кофе</a>
					</li>
					<a href="#" class="m-catalog__goto">Перейти в раздел</a>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="tea">
						<div class="m-catalog__carousel owl-carousel">
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="coffee">
						<div class="m-catalog__carousel owl-carousel">
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/images/coffee-item.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="banner">
		<div id="carousel-id" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="item">
					<div class="row">
						<div class="col-md-6 col-sm-6 banner__left">
						</div>
						<div class="col-md-6 col-sm-6 banner__right">
							<div class="jms-content">
								<h4>Кофеварка</h4>
								<h2>Jura ENA Micro 9</h2>
								<p>IMPRESSA C60 – пример того, как легко можно<br> приготовить чашку изумительного по вкусу кофе.<br> Одной из выдающихся особенностей модели является<br> простота программирования: </p>
								<div class="banner__desc">
									<span class="banner__price">3 599 <span>Руб.</span></span>
									<a href="" class="jms-link button button--more button--red">Подробно</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item active">
					<div class="row">
						<div class="col-md-6 col-sm-6 banner__left">
						</div>
						<div class="col-md-6 col-sm-6 banner__right">
							<div class="jms-content">
								<h4>Кофеварка</h4>
								<h2>Jura ENA Micro 9</h2>
								<p>IMPRESSA C60 – пример того, как легко можно<br> приготовить чашку изумительного по вкусу кофе.<br> Одной из выдающихся особенностей модели является<br> простота программирования: </p>
								<div class="banner__desc">
									<span class="banner__price">3 599 <span>Руб.</span></span>
									<a href="" class="jms-link button button--more button--red">Подробно</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="banner__prev"></span></a>
			<a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="banner__next"></span></a>
		</div>

	</section>

	<section class="m-catalog">
		<div class="container m-catalog__container">
			<div role="tabpanel">
				<ul class="m-catalog__tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#coffesteam" aria-controls="home" role="tab" data-toggle="tab">Кофемашины</a>
					</li>
					<li role="presentation">
						<a href="#acc" aria-controls="tab" role="tab" data-toggle="tab">Аксессуары</a>
					</li>
					<a href="#" class="m-catalog__goto">Перейти в раздел</a>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="coffesteam">
						<div class="m-catalog__carousel owl-carousel">
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item1.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item2.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item3.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item1.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item2.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item3.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item1.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item2.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item3.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item1.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item2.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item3.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="acc">
						<div class="m-catalog__carousel owl-carousel">
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item1.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item2.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item3.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item1.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item2.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item3.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item1.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item2.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item3.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item1.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item2.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
							<div class="m-catalog__thumb">
								<div class="m-catalog__img">
									<img src="img/items/item3.png" alt="">
								</div>
								<div class="m-catalog__desc">
									<a href="#">Кофе в зернах 90 арабика 10 робуста</a>
									<p>MPRESSA C60 – пример того, как легко ...</p>
									<p class="m-catalog__price">
										<span class="m-catalog__old-price">39990</span> 34990 <span class="m-catalog__currency">Руб.</span>
									</p>
									<a href="" class="button button--cart">В корзину</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="exc">
		<div class="container exc__container">
			<h3 class="exc__header">
				Несколько любопытных фактов <span>о кофе</span>
			</h3>

			<div class="exc__circle">
				<div class="row">
					<div class="col-md-7 col-sm-7">
						<div class="text-center exc__cup">
							<img src="img/icons/cup.png" alt="">
						</div>
						<div class="exc__left">
							<div id="exc1" class="exc__point exc__point--1"><span>1</span></div>
							<div class="exc__point exc__point--2" id="exc2"><span>2</span></div>
							<div class="exc__point exc__point--3" id="exc3"><span>3</span></div>
							<div class="exc__point exc__point--4" id="exc4"><span>4</span></div>
							<div class="exc__point exc__point--5" id="exc5"><span>5</span></div>
							<div class="exc__point exc__point--6" id="exc6"><span>6</span></div>
							<div class="exc__point exc__point--7" id="exc7"><span>7</span></div>
							<div class="exc__point exc__point--8" id="exc8"><span>8</span></div>
							<div class="exc__point-header">
								<h3 id="adv_point2">1</h3>
								<h4>Факт</h4>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-5 col-lg-4">
						<div class="exc__right">
							<h3><span id="exc_point">3</span>.</h3>
							<p id="exc_text">Кофе светлой обжарки содержит больше кофеина, чем темной. Кофеин числится среди запрещенных веществ в списке, утвержденном Международным олимпийским комитетом, вместе со стероидами и кокаином. Употребление более 5 чашек кофе (12 микрограмм на 1
								миллилитр мочи) считается МОК попыткой спортсмена получить преимущество в спортивной борьбе.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="exc__content">
				<div class="exc__subheader">
					Наши преимущества
				</div>
				<ul class="exc__list list-inline">
					<li>
						<div class="exc__round">
							<div class="adv-icon adv-1"></div>
						</div>Скидки</li>
					<li>
						<div class="exc__round">
							<div class="adv-icon adv-2"></div>
						</div>Аренда</li>
					<li>
						<div class="exc__round">
							<div class="adv-icon adv-3"></div>
						</div>Кредит</li>
					<li>
						<div class="exc__round">
							<div class="adv-icon adv-4"></div>
						</div>Инструктаж</li>
					<li>
						<div class="exc__round">
							<div class="adv-icon adv-5"></div>
						</div>Ремонт</li>
					<li>
						<div class="exc__round">
							<div class="adv-icon adv-6"></div>
						</div>Сервис</li>
					<li>
						<div class="exc__round">
							<div class="adv-icon adv-7"></div>
						</div>Гарантия</li>
					<li>
						<div class="exc__round">
							<div class="adv-icon adv-8"></div>
						</div>Ассортимент</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="about">
		<div class="about__hr">
			<img src="img/logo-d.png" alt="">
		</div>
		<div class="container about__container">
			<div class="row">
				<div class="col-md-8 col-sm-7 about__left">
					<h4>Интернет-магазин кофемашин и кофе - <span>Coffee61</span></h4>

					<p>Кофемашины для дома и офиса от лучших мировых производителей Кофе – восхитительный напиток с неповторимым ароматом, дарящий нам по утрам великолепное самочувствие, бодрость и прекрасное расположение духа. С тех пор, как на смену джезвам пришли первые
						машины для кофе, они претерпели ряд изменений и усовершенствований, превратившись в сложные умные устройства, способные удовлетворить изысканный вкус самых привередливых кофеманов. Долой обычные кофеварки — кофемашины нового поколения превосходят
						их полной автоматизацией и удобством приготовления кофе, а также качеством и разнообразием напитков! Кофемашина, купить которую сегодня не составляет проблемы, способна заменить собою даже самого опытного бариста.</p>

					<h4>Автоматическая эспрессо кофемашина – источник вашего комфорта</h4>

					<p>Современная кофемашина с программируемым управлением не только успешно справится со всем объемом работ по приготовлению различных видов ароматного кофКроме того, ваша интеллектуальная кофеварка легко и быстро «приведет себя в порядок» с помощью автоматического
						промывания и очистки системы. Купить кофеварку можно по доступной цене.</p>

					<h4>Как выбрать кофе для кофемашины?</h4>

					<p>Современная кофемашина с программируемым управлением не только успешно справится со всем объемом работ по приготовлению различных видов ароматного кофКроме того, ваша интеллектуальная кофеварка легко и быстро «приведет себя в порядок» с помощью автоматического
						промывания и очистки системы. Купить кофеварку можно по доступной цене.Современная кофемашина с программируемым управлением не только успешно справится со всем объемом работ по приготовлению различных видов ароматного кофКроме того, ваша интеллектуальная
						кофеварка легко и быстро «приведет себя в порядок» с помощью автоматического промывания и очистки системы...</p>
				</div>
				<div class="col-md-4 col-sm-5 about__right">
					<div class="about__wrapper">
						<div class="about__block">
							<i class="icon icon-delivery"></i><br>
							<h5>Доставка кофе и самовывоз</h5>

							<p>Доставляем по Ростову и области. Каждый день, кроме воскресенья, с 10:00 до 20:00<br>
								<b>Для кофемашин — доставка бесплатна,
								кофе — бесплатная доставка при заказе от 3000р.</b>
							</p>
						</div>

						<div class="about__block">
							<i class="icon icon-callcenter"></i><br>
							<h5>Консультация и заказ по телефону</h5>

							<p>(863) 261-46-26, ежедневно с 10:00 до 20:00<br>
								<b>Вы можете заказать обратный<br>
									 звонок: мы<br>

								перезвоним Вам сами, как можно<br>
								 скорее.</b>
							</p>
						</div>

						<div class="about__block">
							<i class="icon icon-service"></i><br>
							<h5>Гарантия, сервис и возврат</h5>

							<p>Весь товар имеет официальную гарантию и инструкцию.
							</p>
						</div>
						<div class="about__cup">
							<img src="img/icons/coffee.png" alt="">
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="news">
		<div class="news__container container">
			<div class="news__hr">
				<img src="img/icons/seed.png" alt="">
			</div>
			<ul class="news__tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#news" aria-controls="home" role="tab" data-toggle="tab">Новости</a>
				</li>
				<li>/</li>
				<li role="presentation">
					<a href="#articles" aria-controls="tab" role="tab" data-toggle="tab">Статьи</a>
				</li>

				<a href="#" class="button button--red">Все новости</a>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content news__content">
				<div role="tabpanel" class="tab-pane active" id="news">
					<div class="news__carousel owl-carousel">
						<div class="news__thumb">
							<a href="#">
								<h5>18 Октябрь</h5>
								<p>Кофе Lavazza Lavazza любят все, эта кофейная марка снискала уважение как на своей родине в...</p>
							</a>
						</div>
						<div class="news__thumb">
							<a href="#">
								<h5>18 Октябрь</h5>
								<p>Кофе Lavazza Lavazza любят все, эта кофейная марка снискала уважение как на своей родине в...</p>
							</a>
						</div>
						<div class="news__thumb">
							<a href="#">
								<h5>18 Октябрь</h5>
								<p>Кофе Lavazza Lavazza любят все, эта кофейная марка снискала уважение как на своей родине в...</p>
							</a>
						</div>
						<div class="news__thumb">
							<a href="#">
								<h5>18 Октябрь</h5>
								<p>Кофе Lavazza Lavazza любят все, эта кофейная марка снискала уважение как на своей родине в...</p>
							</a>
						</div>
						<div class="news__thumb">
							<a href="#">
								<h5>18 Октябрь</h5>
								<p>Кофе Lavazza Lavazza любят все, эта кофейная марка снискала уважение как на своей родине в...</p>
							</a>
						</div>
						<div class="news__thumb">
							<a href="#">
								<h5>18 Октябрь</h5>
								<p>Кофе Lavazza Lavazza любят все, эта кофейная марка снискала уважение как на своей родине в...</p>
							</a>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="articles">
					<div class="news__carousel owl-carousel">
						<div class="news__thumb">
							<a href="#">
								<h5>18 Октябрь</h5>
								<p>Кофе Lavazza Lavazza любят все, эта кофейная марка снискала уважение как на своей родине в...</p>
							</a>
						</div>
						<div class="news__thumb">
							<a href="#">
								<h5>18 Октябрь</h5>
								<p>Кофе Lavazza Lavazza любят все, эта кофейная марка снискала уважение как на своей родине в...</p>
							</a>
						</div>
						<div class="news__thumb">
							<a href="#">
								<h5>18 Октябрь</h5>
								<p>Кофе Lavazza Lavazza любят все, эта кофейная марка снискала уважение как на своей родине в...</p>
							</a>
						</div>
						<div class="news__thumb">
							<a href="#">
								<h5>18 Октябрь</h5>
								<p>Кофе Lavazza Lavazza любят все, эта кофейная марка снискала уважение как на своей родине в...</p>
							</a>
						</div>
						<div class="news__thumb">
							<a href="#">
								<h5>18 Октябрь</h5>
								<p>Кофе Lavazza Lavazza любят все, эта кофейная марка снискала уважение как на своей родине в...</p>
							</a>
						</div>
						<div class="news__thumb">
							<a href="#">
								<h5>18 Октябрь</h5>
								<p>Кофе Lavazza Lavazza любят все, эта кофейная марка снискала уважение как на своей родине в...</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

